@font-face {
   font-family: 'HelveticaNeue-BlackCond';
   src: url('HelveticaNeue-BlackCond/font.woff');
}
@font-face {
   font-family: 'Avenir_95_Black';
   src: url('Avenir_95_Black/font.ttf');
}
@font-face {
   font-family: 'HelveticaNeue-LightExt';
   src: url('HelveticaNeue-LightExt/font.woff');
}
